## Import needed libraries

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Load the CSV file

In [3]:
df = pd.read_csv("loan.csv")

/tmp/ipykernel_221221/2042666052.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("loan.csv")

In [23]:
# Understand the warning and avoid to loose data.
# Get the 47 th Column name and get unique
column_name_47 = df.columns[46]
print("Column 47 name:", column_name_47)

Column 47 name: last_pymnt_amnt

In [25]:
# Get the values in the column
df['last_pymnt_amnt'].unique()

array(['171.62', '119.66', '649.91', ..., '80.9', '281.94', '256.59'],
      dtype=object)

In [28]:
# Reload the csv file with out any warning
df = pd.read_csv("loan.csv", dtype={'last_pymnt_amnt': 'str'}, low_memory=False)

In [36]:
#Print all the columns
cols = df.columns
print(list(cols))

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

In [37]:
for col in df.columns:
    print(col)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit

## Date cleanup

### To analyse further we need to confirm below columns should have correct values.
### Check for any repeatation, NULL or corrupted values
##### id: Unique identifier for each loan record.
##### loan_amnt: Amount of the loan, critical for assessing the size of defaults.
##### loan_status: Indicates whether the loan is current, charged off, or in default, essential for your analysis.
##### int_rate: Interest rate, which can influence borrower behavior and default likelihood.
##### annual_inc: Borrower's annual income, important for assessing repayment capacity.
##### dti: Debt-to-income ratio, a key metric in evaluating the borrower's financial health.
##### delinq_2yrs: Number of delinquencies in the past 2 years, indicating credit risk.
##### home_ownership: Helps understand the borrower's stability, which can affect defaults.
##### grade and sub_grade: Credit grades that can provide insights into borrower risk profiles.
##### emp_length: Employment length can correlate with borrower stability.
##### verification_status: Status of income verification, which can impact lending risk.
##### issue_d: Loan issuance date, useful for time-based analysis of defaults
#### total_pymnt	Payments received to date for total amount funded

In [61]:
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [59]:
# Check for any repeatation of the data with unique ID
print ("unique id ", len(df['id'].unique()))
print("Total loan transcation ", len(df['id']))
print("Check for any null values", df['id'].isnull().sum())

unique id  39717
Total loan transcation  39717
Check for any null values 0

In [62]:
# Check for any repeatation of the data with member_id 
print ("unique id ", len(df['member_id'].unique()))
print("Total loan transcation ", len(df['member_id']))
print("Check for any null values", df['member_id'].isnull().sum())

unique id  39717
Total loan transcation  39717
Check for any null values 0

In [77]:
# loan_amnt
# Check for loan amount beling zero
print("Empty loan amt", df['loan_amnt'].isnull().sum())

print("Check different loan amts given", df['loan_amnt'].value_counts())

Empty loan amt 0
Check different loan amts given loan_amnt
10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: count, Length: 885, dtype: int64

In [85]:
print("Different loan status", df['loan_status'].value_counts())
print("\n\nEmpy loan status ", df['loan_status'].isnull().sum())

print("\n\nunique loan status", df['loan_status'].unique())

Different loan status loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64


Empy loan status  0


unique loan status ['Fully Paid' 'Charged Off' 'Current']

In [96]:
# Let us perform the isnull on all the needed columns at one shot
df1 = df

# Check the columns which are null and also I want to exclude columns which dont have any value in the column.
for col in cols:
    null_count = df[col].isnull().sum()
    if(null_count != 0 and null_count != len(df['id'])):
        print(f"Column '{col}' = {null_count}")

Column 'emp_title' = 2459
Column 'emp_length' = 1075
Column 'desc' = 12942
Column 'title' = 11
Column 'mths_since_last_delinq' = 25682
Column 'mths_since_last_record' = 36931
Column 'revol_util' = 50
Column 'last_pymnt_d' = 71
Column 'next_pymnt_d' = 38577
Column 'last_credit_pull_d' = 2
Column 'collections_12_mths_ex_med' = 56
Column 'chargeoff_within_12_mths' = 56
Column 'pub_rec_bankruptcies' = 697
Column 'tax_liens' = 39

### From the above output, Clear that the important data identified are present mostly.

In [97]:
# lets analyse the not null data from above list.

In [114]:
print(df['emp_title'].unique())
print(df['emp_title'].value_counts())

[nan 'Ryder' 'AIR RESOURCES BOARD' ... 'FiSite Research'
 'Squarewave Solutions, Ltd.' 'Evergreen Center']
emp_title
US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: count, Length: 28820, dtype: int64

In [115]:
# Looking at the term in month, let us convert it to intiger
df['term'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 39717 entries, 0 to 39716
Series name: term
Non-Null Count  Dtype
--------------  -----
39717 non-null  object
dtypes: object(1)
memory usage: 310.4+ KB

In [132]:
df['term'].value_counts()

term
36    29096
60    10621
Name: count, dtype: int64

In [133]:
df1['term'] = df['term'].apply(lambda x: int(str(x).replace(' months', '')))

In [134]:
df1['term'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 39717 entries, 0 to 39716
Series name: term
Non-Null Count  Dtype
--------------  -----
39717 non-null  int64
dtypes: int64(1)
memory usage: 310.4 KB

In [144]:
#Remove perentage in int_rate
df1['int_rate'] = df1['int_rate'].apply(lambda x: str(x).rstrip('%'))
df1['int_rate'] = df1['int_rate'].apply(lambda x: float(x))
df1['int_rate'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 39717 entries, 0 to 39716
Series name: int_rate
Non-Null Count  Dtype
--------------  -----
39717 non-null  float64
dtypes: float64(1)
memory usage: 310.4 KB

### Check the data after cleanup and check for anything missing

In [145]:
df1.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN